<footer class="p-4 md:p-8 lg:p-10 bg-white">
  <div class="mx-auto max-w-screen-xl text-center">
    <a href="#" class="flex justify-center items-center text-2xl font-semibold">
      <img src="/images/logo.svg" alt="MEGAHENRY Logo" />
    </a>
    <p class="my-6 text-gray-600">
      Building systems for the greater environment.
    </p>
    <span class="text-sm sm:text-center text-gray-500"
      >© 2023-2024 <a href="#" class="hover:underline">MEGAHENRY Team</a>. All
      Rights Reserved.</span
    >
  </div>
</footer>
