---

---

<div
  class="fixed pointer-events-none inset-0 bg-white bg-grid-small-black/[0.2] -z-50"
>
</div>
<div
  class="fixed pointer-events-none inset-0 flex items-center justify-center [mask-image:radial-gradient(ellipse_at_center,transparent_20%,black)] -z-40"
>
</div>
