<section id="the-problem" class="backdrop-invert text-white">
  <div class="container mx-auto px-8 md:px-16 py-16 lg:py-32">
    <h2 class="font-bold mb-8 text-4xl lg:text-5xl">The Problem</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 lg:gap-16">
      <div>
        <h3 class="font-bold mb-4 text-2xl md:text-3xl">
          <i class="text-xl ph-fill ph-gas-can"></i>
          Overloaded Grid
        </h3>
        <p class="md:text-lg md:leading-8">
          After their commute, city residents plug in their cars to charge so
          they can start the next day with a fully charged vehicle.
          Unfortunately, most people get home at the same time and charge
          simultaneously. The average charging power for one car is around 10kW,
          so power demand rises significantly. The grid must start up backup
          coal generators to handle this sudden load, which defeats the purpose
          of clean energy.
        </p>
      </div>
      <div>
        <h3 class="font-bold mb-4 text-2xl md:text-3xl">
          <i class="text-xl ph-fill ph-lightning-slash"></i>
          Cannot Install Chargers
        </h3>
        <p class="md:text-lg md:leading-8">
          Since the grid cannot handle the load, restrictions are set by the
          state grid company to every residential community on how many EV
          chargers they can install. Many new EV owners are unable to charge
          their new car as a result. Furthermore, more and more people are no
          longer considering to buy an EV after they have acknowledged that they
          cannot install a charging point at their parking slot.
        </p>
      </div>
    </div>
  </div>
</section>
