---
import "@/styles/styling.css";
import "@fontsource/rubik/400.css";
import "@fontsource/rubik/400-italic.css";
import "@fontsource/rubik/500.css";
import "@fontsource/rubik/500-italic.css";
import "@fontsource/rubik/700.css";
import "@fontsource/rubik/700-italic.css";

export interface Props {
    title: string;
}

const { title } = Astro.props as Props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
        <meta
            name="description"
            content="Reduce grid load with bleeding-edge AI powered EV charging load-balancing, powered by cOS, MEGAHENRY's latest innovation in energy and the environment."
        />
        <script>
            let head = document.getElementsByTagName("head")[0];

            for (let weight of [
                "regular",
                "thin",
                "light",
                "bold",
                "fill",
                "duotone",
            ]) {
                let link = document.createElement("link");
                link.rel = "stylesheet";
                link.type = "text/css";
                link.href =
                    "https://unpkg.com/@phosphor-icons/web@2.0.3/src/" +
                    weight +
                    "/style.css";
                head.appendChild(link);
            }

            // window.onload = () => {
            //     window.scrollTo(0, 0)
            // }
        </script>
        <script
            src="https://beamanalytics.b-cdn.net/beam.min.js"
            data-token="7fb81829-48b9-4fb6-9041-c11a9106b3a0"
            async></script>
        <title>{title}</title>
    </head>
    <body class="font-sans">
        <slot />
    </body>
</html>
