---
import Layout from "@/components/layouts/Layout.astro";

import GridBackground from "@/components/fragments/GridBackground.astro";
import Spotlight from "@/components/fragments/Spotlight.astro";
import Header from "@/components/fragments/Header.astro";
import Footer from "@/components/fragments/Footer.astro";

import HeroSection from "@/components/sections/HeroSection.astro";
import ProblemSection from "@/components/sections/ProblemSection.astro";
import SolutionSection from "@/components/sections/SolutionSection.astro";
import FeaturesSection from "@/components/sections/FeaturesSection.astro";
import HowItWorksSection from "@/components/sections/HowItWorksSection.astro";
import PricingSection from "@/components/sections/PricingSection.astro";
import OurTeamSection from "@/components/sections/OurTeamSection.astro";
---

<Layout title="EV Charging Without the Pain | MEGAHENRY">
    <Header />
    <main>
        <GridBackground />
        <Spotlight />

        <HeroSection />
        <ProblemSection />
        <SolutionSection />
        <FeaturesSection />
        <HowItWorksSection />
        <PricingSection />
        <OurTeamSection />
    </main>
    <Footer />
</Layout>
