:root {
  --color-bg: linear-gradient(180deg, #FFFFFF 0%, #AEC6DC 100%);

  /* Controls the blob blur gradient colors within the main tag's svg */
  --top-right-blur-1: #20C6B7;
  --top-right-blur-2: #4D9ABF;
  --bttm-left-blur-1: #FF5C02;
  --bttm-left-blur-2: #FFCDB1;
}

html {
  background: var(--color-bg);
  min-height: 100%;
}

#background {
  position: fixed;
  width: 100%;
  z-index: -1;
  height: 100%;
}