---
import "../style/styling.css";
import "@fontsource/rubik/400.css";
import "@fontsource/rubik/400-italic.css";
import "@fontsource/rubik/500.css";
import "@fontsource/rubik/500-italic.css";
import "@fontsource/rubik/700.css";
import "@fontsource/rubik/700-italic.css";

export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body class="font-sans">
    <slot />
  </body>
</html>
